{% extends 'catalogo/base.html' %}

{% block content %}
<h2 class="text-center mb-4">Seu Carrinho de Compras</h2>
{% if itens %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Quantidade</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for item in itens %}
            <tr>
                <td>{{ item.titulo }}</td>
                <td>{{ item.quantidade }}</td>
                <td>
                    <form action="{% url 'remover_item' item.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Remover</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
    <br/><br/>
    <div class="text-right">
        <a href="{% url 'buscar_livros' %}" class="btn btn-secondary">Voltar ao Catálogo</a>
        <a href="{% url 'finalizar_compra' %}" class="btn btn-primary"><i class="fas fa-check-circle"></i> Finalizar Compra</a>
    </div>
{% else %}
    <p class="text-center">Seu carrinho está vazio.</p>
{% endif %}
{% endblock %}
