{% extends 'catalogo/base.html' %}

{% block content %}
<h1>Seu Carrinho de Compras</h1>
{% if itens %}
    <table>
        <tr>
            <th>Título</th>
            <th>Quantidade</th>
            <th>Ação</th>
        </tr>
        {% for item in itens %}
        <tr>
            <td>{{ item.titulo }}</td>
            <td>{{ item.quantidade }}</td>
            <td>
                <form action="{% url 'remover_item' item.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Remover</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'finalizar_compra' %}">Finalizar Compra</a> <!-- Adicionado -->
{% else %}
    <p>Seu carrinho está vazio.</p>
{% endif %}
{% endblock %}
